body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
h1 {
  font-size: 125%;
}
.text {
  padding-left: 15px;
}
.ammenities {
  display: inline;
  padding-right: 10px;
}
.realty div {
  display: inline;
  padding-right: 3px;
  color: rgb(170, 170, 170);
  font-size: 70%;
}
.realty {
  padding-bottom: 10px;
}
.tags {
  padding-bottom: 35px;
  display: flex;
}
.tags div {
  display: inline;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(226, 226, 226);
  border-radius: 20px;
  font-size: 85%;
}
.price {
  font-weight: bold;
  font-size: 125%;
  padding-top: 10px;
  padding-bottom: 7px;
}
.address {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 85%
}
img {
  height: 250px;
  width: 375px;
}
.home {
  box-shadow: 0 0 10px rgb(226, 226, 226);
  margin-right: 647px;
}
.home:hover {
  box-shadow: 0 0 10px rgb(139, 134, 134);
}
.container {
  position: relative;
  text-align: center;
}
.container .notes {
  position: absolute;
  top: 8px;
  left: 5px;
}
.container .notes div {
  background-color: #7556f2;
  color: white;
  border-radius: 20px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 2px;
  font-size: 75%;
  display: inline;
}
.container .notes .new {
  background-color: green;
}