html
  head
    title BlueFin Similar Homes
    style
      include ./main.css
      include ./carousel.css
  body
    div#homes(style={ display: 'none' }) #{homes}
    h1 Nearby Similar Homes
    div#app
    script
      include ../dist/main.js